*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    box-sizing: border-box;  
    font-family: 'Montserrat', serif;
    color: white;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */
    margin: 0;
  }

  header {
    display: inline-block;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid white;
    background-color: black;
    height: 80px;
  }

  .title {
    position: fixed;
    padding-left: 100px;
    top: 20px;
    left: 37%;
  }

  #Logo {
    width: 70px;
    position: fixed;
    top: 10px;
    left: 10px;
    filter: brightness(0) invert(1);
  }

main{
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(BG_Alt.png);
    background-size: cover;
    background-position: center;
}

